$colors-black: #111111;
$colors-white: #ffffff;
$colors-primary: #01a7fd;
$colors-gray: rgba(17, 17, 17, 0.48);
$colors-gray-l: #f1f1f1;
$colors-gray-m: #fafafa;
$colors-gray-s: rgba(17, 17, 17, 0.10);
$box-shadow: 0px 1px 0px 0px $colors-gray-s;
$desktop: 1024px;
$mobile: 480px;
